body {
    background-image: url('../background_img.png');
    background-size: auto;
    color: #fff!important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
.bg-light   {
    background-color: transparent!important;
}
.center-container {
    background-color: rgb(1, 106, 90, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 5%;
}
.navbar-light .navbar-brand  {
    color: white;
}
#userDropdown{
    color:white;
    font-size: 1.25rem;
    margin-top: -3%;
}
.navbar-light:hover .navbar-brand:hover  {
    color: white;
}
.custom-dropdown {
    background-color: #000;
}
.custom-dropdown a {
    color: #fff;
    font-size: 19px;
}
.custom-dropdown a:hover {
    background-color: #fff;
    color: #000;
}
table {
    width: 92%;
    margin-left:4%;
    border-collapse: collapse;
    margin-top: 0%;
}

table, th, td {
    border: 3px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}
td {
    background-color: #029881;
}

th {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
}
.urhw{
    margin-top: 0%;
    margin-left:5%;
}
.page-transition {
    animation: fadeIn 0.3s; 
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }

} 