.btn-primary,
        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary:focus {
        background-color: black !important;
        border-color: black !important;
        color: #fff !important;
    }
        body {
            background-image: url('../background_img.png');
            background-size: auto;
            color: #fff;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 16px;
        }

        .back-home-btn, .register-btn, label[for="account"] {
            margin-top: 10%;
            background-color:black;
            color: #fff;
            border: 3px solid black;
            vertical-align: baseline;
            font-size: 18px;
            padding: 12px 20px;
        }
        @media (min-width: 768px){
            .col-md-6 {
            max-width: none;
        }
        }
        .form{
            margin-top: 10%;
            margin-right: 0%;
            width: 60%;
            height: 20%;
        }
        .center-container {
            background-color: rgb(255, 255, 255, 0.05);
            backdrop-filter: blur(5px);
            padding: 15px;
            width: 40%;
            border-radius: 10px;
            margin-left: 30%;
            margin-top: 4%;
        }
        label[for="account"] {
            background-color: transparent;
            border: none;
        }

        .back-home-btn:hover, .register-btn:hover, .submit:hover {
            background-color: black;
            border-color: black;
        }
        .custom-dropdown {
            background-color: #000;
        }
        .custom-dropdown a {
            color: #fff;
            font-size: 19px;
        }
        .custom-dropdown a:hover {
            background-color: #fff;
            color: #000;
        }
        .submit {
            border-color: black;
            background-color:black;
            font-size: 24px;
            padding: 16px 24px;
        }
        .textik{
            position: absolute;
            left:25%;
            top: -8%;
        }
        .page-transition {
            animation: fadeIn 0.3s; 
        }
        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        } 
        .row{
            margin-left: 0%;
            width: 100%;
            display: block;
            position: relative;
        }