body {
    background-image: url('../background_img.png');
    background-size: auto;
    color: #fff!important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
.bg-light   {
    background-color: transparent!important;
}
.center-container {
    background-color: rgb(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 10px;
    margin-left: 5%;
    width: 90%;
    height: 90vh;

}
.flexcontainer {
    display: grid;
    position: relative;
    width: 90%;
    left: 5%;
    margin-top: 0%;
    max-height: 78vh;
    grid-template-columns: auto;
    gap: 20px;
    overflow-y: auto;
}

.navbar-light .navbar-brand  {
    color: white;
}
#userDropdown{
    color:white;
    font-size: 1.25rem;
    margin-top: -3%;
}
.custom-dropdown {
    background-color: #000;
}
.custom-dropdown a {
    color: #fff;
    font-size: 19px;
}
.custom-dropdown a:hover {
    background-color: #fff;
    color: #000;
}
.navbar-light:hover .navbar-brand:hover  {
    color: white;
}
.page-transition {
    animation: fadeIn 0.3s; 
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.row{
    margin-left: 2.5%;
    margin-bottom: 10%;
    width: 160%;
    display: block;
}
.backhomebtn:hover {
    background-color: black;
    border-color: black;
}
.longrounddiv {
    position: relative;
    padding: 20px;
    background-color: rgba(0, 29, 48, 0.70);
    border-radius: 15px;
    color: white;
    width: 78vw;
    font-size: 15px;
    border: 3px solid rgba(0, 29, 48, 0.70);
    margin-top: 1%;
}
.contentleft {
    float: left;
    width: 70%;
    text-align: left;
}

.contentright {
    float: right;
    width: 30%;
}

.contentright p {
    text-align: right;
}
  .flexcontainer > button {
    height: 150px;
}

html {
    ::-webkit-scrollbar { width: 15px; height: 2px;}
    ::-webkit-scrollbar-button {  display: none;}
    ::-webkit-scrollbar-track { background-color: rgba(255, 255, 255, 0.001);}
    ::-webkit-scrollbar-track-piece { background-color: rgb(255, 255, 255, 0.001);}
    ::-webkit-scrollbar-thumb { height: 40px; background-color: black;border-radius: 15px;}
    ::-webkit-scrollbar-corner { background-color: #000000;}
    ::-webkit-resizer { display: none;}
  }
  .xp-bar-container {
    width: 300px;
    display: flex;
    align-items: center;
}

.urxp {
    margin-left: 55%;
    margin-top: 10px;
    font-size: 20px;
}

.progress {
    flex: 1;
    height: 25px;
    width: 25%;
    border-radius: 5px;
    margin-top: 3px;
    position: absolute;
    margin-left: 15%;
}
.progress-bar-animated {
    background-color: rgba(0, 77, 128, 0.95);
}

.progress-bar {
    border-radius: 5px;
}

progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: rgb(0, 52, 86, 0.95);
    border-radius: 5px;
}

progress::-moz-progress-bar {
    background-color: rgb(0, 52, 86, 0.95);
    border-radius: 5px;
}

progress::-ms-fill {
    background-color: rgb(0, 52, 86, 0.95);
    border-radius: 5px;
}
.dropdwn {
    border-radius: 15px;
    margin-left: 3%;
    margin-top: 4%;
    width: auto;
    background-color: rgb(0, 52, 86, 0.95);
    border: 3px solid black;
    font-size: 30px;
    color: white;
    padding: 5px;
}
.dropdwn::-ms-expand {
    display: none;
}
.dropdwn:focus,.dropdwn:hover,
.dropdwn:active {
    background-color: #003456;
}
.submitdwn{
    border-radius: 15px;
    margin-left: 2%;
    width: auto;
    color: white;
    background-color: rgb(0, 52, 86, 0.95);
    border: 3px solid #030f1b;
    font-size: 30px;
}
